<h1>Add new employee</h1>

<ul>
  <% @employee.errors.each_with_index do |msg, i| %>
  <li><%= msg[0].to_s + " " + msg[1].to_s %></li>
  <% end %>
</ul>

<%= form_tag :action => 'create' do %>
<p><label for = "employee_first_name">First Name</label>:
<%= text_field 'employee', 'first_name' %></p>

<p><label for = "employee_last_name">Last Name</label>:
<%= text_field 'employee', 'last_name' %></p>
<%= collection_select(:employee, :factory_id, @factories, :id, :name, prompt: true) %></p>


<%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'index'} %>